<!DOCTYPE html>
<html>
  <head>
    <title>Discord QoTY Poster</title>

    <!-- Stylesheet -->

    <link rel="stylesheet" href="./web.css">

    <style>
      .show {
        display: inline !important;
      }
      .split {
        display: flex;
        flex-direction: row;
      }
      .input-container {
        width: 50vw;
      }
      .result-container {
        width: 50vw;
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    </style>
    <!-- JQuery, Angular, & Underscore -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript"></script>

    <script src="http://underscorejs.org/underscore-min.js" type="text/javascript"></script>

    <script src="./js/waypoints.js" type="text/javascript"></script>
    <!-- Import main scripts -->

    <script src="./js/main.js" type="text/javascript"></script>
    <!-- <script src="loop_examples.js" type="text/javascript"></script> -->

    <!-- End Head Directives -->

  </head>

  <body class="split" ng-app="webApp" ng-controller="appController">
    <div class="input-container">
      Generate your message:

      <br>

      <textarea class="input" style="width: 450px; height: 100px;" ng-model="inputValues.message" placeholder="Input your message here!"></textarea>
      <br>

      <input class="input" style="width: 290px" ng-model="inputValues.name" placeholder="Name">

      <select class="select" ng-model="inputValues.occupation" style="margin-bottom: 10px; width: 155px">
        <option value="">Select Occupation</option>
        <option ng-repeat="occupation in defaultValues.occupation" value="{{occupation}}">{{occupation}}</option>
      </select>

      <br>

      <input class="input" ng-model="inputValues.town" style="width: 290px;" placeholder="Town">

      <select class="select" ng-model="inputValues.state" style="margin-bottom: 10px; width: 155px">
        <option value="">Select State</option>
        <option ng-repeat="state in defaultValues.states">{{state}}</option>
      </select>

      <div>
        <button class="button" ng-click="postQuote()" ng-if="inputValues.message&&inputValues.name&&inputValues.occupation&&inputValues.town&&inputValues.state != ''">Submit Quote!</button>
      </div>

      <br>

      <div>
        <input class="checkbox" ng-model="preview" type="checkbox">Display preview
      </div>

      <div style="display: none;" ng-class="{show: preview}">
        Your current message is:
        <br>

        <div ng-if="inputValues.message != ''">
          "{{inputValues.message}}"
        </div>
        <div>
          {{inputValues.name}}<span ng-if="inputValues.name != ''">, </span>{{inputValues.occupation}}
        </div>
        <div>
          {{inputValues.town}}<span ng-if="inputValues.town != '' && inputValues.state != ''">, </span>{{inputValues.state}}
        </div>
      </div>
<!--     <br>
    <br>
    <br> Here's that one you wanted:

    <br>

    <div style="display: none;" ng-class="{show: inputValues.message != ''}">
      "{{inputValues.message}}"
    </div>
 -->
      <br>

      <div style="">
        Post success or fail?

        <br> 

        {{defaultValues.postStatus}}
      </div>
      
      </div>
    </div>
    <div class="result-container">
      <div class="fullview">
        <div style="display: flex;
        flex-direction: column;" class="quotecontainer" ng-repeat="quote in quote_data.quotes">
        <strong>{{quote.author.username}} - {{quote.id}}</strong>
      
        {{quote.content}}
      
        <br>
        <br>
        </div>
      </div>
      <div>
        Loading new messages...
      </div>
    </div>
    <div class="buttonmania">
      <button class="button" ng-click="autoLoad()">Load new messages</button>
      <button class="button" ng-click="loadPast()">Load older messages</button>
      <button class="button" ng-click="updateScrollPosition()">Load scroll position</button>
      <input class="input" ng-model="scrollPosition" placeholder="Set Scroll Position"> 
      Scroll position is {{scrollPosition}}
    </div>
    </div>
  </body>
</html>
